.all{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../../../public/can_you_generate_for_me_cute_a_dog_and_cat_background_with_4k_resolution\,_the_theme_is_black_white_and_yellow.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.registration-container h1 {
  font-size: 36px;
  text-align: center;
  color: black;
}

.register-form {
  width: 500px;
  background: white;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: black;
  padding: 40px 30px;
}

.register-form .input-container{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.register-form input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font: 16px;
  color: black;
  padding: 20px 45px 20px 20px;

}
.register-form input::placeholder{
  color: black;
}
.register-form button{
  width: 100%;
  height: 45px;
  background-color: yellow;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, alph.1a);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}