.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Updated */
    height: 100vh;
  }
  
  .profile-avatar-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-avatar-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-avatar-placeholder span {
    font-size: 48px;
    color: #fff;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profile-heading {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-label {
    flex-basis: 150px;
    font-weight: bold;
    color: #fff;
  }
  
  .profile-value {
    flex-grow: 1;
    color: #fff;
  }
  
  @media (min-width: 768px) {
    .profile-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      height: auto;
    }
  
    .profile-avatar-container {
      margin-bottom: 0;
    }
  
    .profile-field {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0;
    }
  
    .profile-label {
      flex-basis: auto;
      margin-bottom: 5px;
    }
  }