.verify-successful-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .verify-successful-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .verify-successful-message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }