@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgba(var(--background-start-rgb), 0) 9%,
    rgba(var(--background-end-rgb), 0.1)
  );
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(2, 12, 34, 0.5),
    rgba(2, 24, 43, 0.5),
    rgba(40, 43, 41, 0.5),
    rgba(154, 155, 150, 0.5)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
